@import url("./assets/styles/Sidebar.css");
@import url("./assets/styles/header.css");
@import url("./assets/styles/admin.css");
@import url("./assets/styles/layout.css");
@import url("./assets/styles/dashboard.css");
@import url("./assets/styles/journey.css");
@import url("./assets/styles/addjourney.css");
@import url("./assets/styles/GalleryModal.css");
@import url("./assets/styles/Footer.css");  
@import url("./assets/styles/signin.css");