/* Responsive Modal */
.responsive-gallery-modal .modal-dialog {
  max-width: 900px;
  width: 90%;
}

@media (max-width: 768px) {
  .responsive-gallery-modal .modal-dialog {
    max-width: 600px;
    width: 95%;
  }
}

@media (max-width: 576px) {
  .responsive-gallery-modal .modal-dialog {
    max-width: 95%;
  }
}

/* Image / Video preview */
.gallery-preview {
  width: 120px;
  height: 70px;
  object-fit: cover;
  border-radius: 6px;
}

@media (max-width: 576px) {
  .gallery-preview {
    width: 90px;
    height: 55px;
  }
}
