.app-header {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  z-index: 3000; /* stay above sidebar */
  background: #fff !important;
}

.header-logo {
  height: 38px;
  width: auto;
}


.brand-text {
  font-size: 18px;
  font-weight: 600;
}

.profile-img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.search-container {
  max-width: 300px;
  width: 100%;
}

/* MOBILE */
@media (max-width: 576px) {
  .header-logo {
    height: 32px;
  }
}
